<!-- footer -->
<footer>
  <div class="container">
    <div class="widget row">
      <!-- about -->
      <div class="col-md-4 col-xs-12 no-padding-sm-lg">
        <h4 class="title">About GameForest</h4>
        <div class="text">
          <span>GameForest is a perfect theme for gaming, news and entertainment websites. Built on latest Twitter Bootstrap. Template is available in 4 colors.</span>
          <a href="http://themeforest.net/item/gameforest-online-magazine-html-template/5007730" class="btn btn-success btn-bold">Purchase <i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>

      <!-- categories -->
      <div class="col-md-2 col-xs-12 visible-md-block visible-lg-block no-padding-sm-lg">
        <h4 class="title">Categories</h4>
        <ul class="nav">
          <li><a href="#"><i class="fa fa-chevron-right"></i> Playstation 4</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i> XBOX ONE</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i> PC</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i> PS3</a></li>
        </ul>
      </div>

      <!-- latest tweet -->
      <div class="col-md-3 col-xs-12 visible-md-block visible-lg-block no-padding-sm-lg">
        <h4 class="title">Latest Tweet</h4>
        <script src="plugins/twitter/twitter.js"></script>
        <div id="twitter"></div>
      </div>

      <!-- social buttons -->
      <div class="col-md-3 col-xs-12 no-padding-sm-lg">
        <h4 class="title">Follow Us</h4>
        <ul class="list-inline">
          <li><a href="#" class="btn btn-circle btn-social-icon btn-twitter" data-toggle="tooltip" title="Follow us on Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="btn btn-circle btn-social-icon btn-facebook" data-toggle="tooltip" title="Follow us on Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="btn btn-circle btn-social-icon btn-google-plus" data-toggle="tooltip" title="Follow us on Google"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="btn btn-circle btn-social-icon btn-flickr" data-toggle="tooltip" title="Follow us on Flickr"><i class="fa fa-flickr"></i></a></li>
          <li><a href="#" class="btn btn-circle btn-social-icon btn-github" data-toggle="tooltip" title="Follow us on Github"><i class="fa fa-github"></i></a></li>
          <li><a href="#" class="btn btn-circle btn-social-icon btn-pinterest" data-toggle="tooltip" title="Follow us on Pinterest"><i class="fa fa-pinterest"></i></a></li>
        </ul>
        <h4 class="title margin-top-20">Email Newsletters</h4>
        <p class="line-height-16 margin-bottom-15">Subscribe to our newsletter and get notification when new games are available.</p>
        <form method="post" class="margin-top-10 btn-inline">
          <input type="text" class="form-control form-inverse input-lg no-border no-shadow padding-right-40" placeholder="Email..." />
          <button type="submit" class="btn btn-link color-white margin-top-5"><i class="ion-checkmark color-white"></i></button>
        </form>
      </div>
    </div>
    <!-- /.footer widget -->
  </div>

  <!-- footer bottom -->
  <div class="footer-bottom">
    <div class="container">
      <ul class="pull-left">
        <li>&copy; 2014 GAMEFOREST. All rights reserved.</li>
      </ul>
      <ul class="pull-right hidden-xs">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Ad Choice</a></li>
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Advertise</a></li>
      </ul>
    </div>
  </div>
  <!-- /.footer bottom -->
</footer>
<!-- /.footer -->
